<div class="div-container">
  <div>
    From:
    <%= @flight.departure_airport.name_with_code %>
  </div>
  <div>
    To:
    <%= @flight.arrival_airport.name_with_code %>
  </div>
  <div>
    <%= @flight.date %>
  </div>
  <div>
    <%= @flight.formatted_time %>
  </div>
</div>
